<template name="announcements">
    <div class="row">
        <div class="col-sm-10">
            <div>
                <div class="page-header">
                <h1 id="" style="color:white">Announcements</h1>
                </div>
                <div id="timeline"><div class="row timeline-movement timeline-movement-top">
                    <div class="timeline-badge timeline-future-movement">
                        <a href="#">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    <div class="timeline-badge timeline-filter-movement">
                        <a href="#">
                            <span class="glyphicon glyphicon-time"></span>
                        </a>
                    </div>

                </div>
                <div class="row timeline-movement">

                    <div class="timeline-badge">
                        <span class="timeline-balloon-date-day">09</span>
                        <span class="timeline-balloon-date-month">OCT</span>
                    </div>


                    <div class="col-sm-6  timeline-item">
                        <div class="row">
                            <div class="col-sm-11">
                                <div class="timeline-panel credits">
                                    <ul class="timeline-panel-ul">
                                        <li><span class="importo">The new "Bop-it"</span></li>
                                        <li><span class="causale">Push it! Pull it! Commit it! Add it! Branch it! Merge it! </span> </li>
                                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 10/09/2014</small></p> </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6  timeline-item">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-11">
                                <div class="timeline-panel debits">
                                    <ul class="timeline-panel-ul">
                                        <li><span class="importo">The Shining</span></li>
                                        <li><span class="causale">All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy. </span> </li>
                                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 10/09/2014</small></p> </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--due -->

                <div class="row timeline-movement">


                    <div class="timeline-badge">
                        <span class="timeline-balloon-date-day">02</span>
                        <span class="timeline-balloon-date-month">OCT</span>
                    </div>

                    <div class="col-sm-offset-6 col-sm-6  timeline-item">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-11">
                                <div class="timeline-panel debits">
                                    <ul class="timeline-panel-ul">
                                        <li><span class="importo">New CEO announced!</span></li>
                                        <li><span class="causale">Davinder Saini officially becomes new CEO of Liberty Mutual. </span> </li>
                                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 10/02/2014</small></p> </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6  timeline-item">
                        <div class="row">
                            <div class="col-sm-11">
                                <div class="timeline-panel credits">
                                    <ul class="timeline-panel-ul">
                                        <li><span class="importo">Pizza party</span></li>
                                        <li><span class="causale">Organizers bring pizza to feed the wild programers. </span> </li>
                                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 10/02/2014</small></p> </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="row timeline-movement">


                    <div class="timeline-badge">
                        <span class="timeline-balloon-date-day">06</span>
                        <span class="timeline-balloon-date-month">AUG</span>
                    </div>

                    <div class="col-sm-offset-6 col-sm-6  timeline-item">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-11">
                                <div class="timeline-panel debits">
                                    <ul class="timeline-panel-ul">
                                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 08/06/2014</small></p> </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6  timeline-item">
                        <div class="row">
                            <div class="col-sm-11">
                                <div class="timeline-panel credits">
                                    <ul class="timeline-panel-ul">
                                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 08/06/2014</small></p> </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="padded col-sm-2">
        <div id="sidebar">
            <div id="leftPanel" class="unselectable dragdropzone padded panel panel-default">

            </div>
        </div>
    </div>

</div>
</template>