<template name="pulse">
<h1 style="color:white"> Team Pulse </h1>
<div class="row">
<div class="col-md-11.7 pulseBackground">
	<h1> Happy </h1>
   <table class="table table-list-search">
        <thead>
            <tr>
                <th><h3>Name</h3></th>
                <th><h3>Status</h3></th>
            </tr>
        </thead>
        <tbody>
	        {{#each getHappy}}
	        {{> happyPeople}}
	        {{/each}}
        </tbody>
    </table>   
</div>


<div class="col-md-11.7 pulseBackground">
	<h1> Normal </h1>
   <table class="table table-list-search">
        <thead>
            <tr>
                <th><h3>Name</h3></th>
                <th><h3>Status</h3></th>
            </tr>
        </thead>
        <tbody>
	        {{#each getNormal}}
	        {{> normalPeople}}
	        {{/each}}
        </tbody>
    </table>   
</div>


<div class="col-md-11.7 pulseBackground">
	<h1> Sad </h1>
       <table class="table table-list-search">
            <thead>
                <tr>
                    <th><h3>Name</h3></th>
                    <th><h3>Status</h3></th>
                </tr>
            </thead>
            <tbody>
		        {{#each getSad}}
		        {{> sadPeople}}
		        {{/each}}
            </tbody>
        </table>   
  </div>
</div>
</template>

<!-- Code below for pulling data from database to populate templates -->

<template name="happyPeople">
	<tr>
        <td style="font-size:150%">{{userName}}</td>
        <div class="dropdown">
	        <td class="feels dropdown-toggle" data-toggle="dropdown" align="right" style="color: green"> 
	    		<i class={{emotion}}></i>
	    	</td>

			<ul class="dropdown-menu">
			    <li align="center"><a href="#"><i class="fa fa-smile-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-meh-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-frown-o fa-5x"></i></a></li>
			</ul>
		</div>
    </tr>
</template>

<template name="normalPeople">
	<tr>
        <td style="font-size:150%">{{userName}}</td>
       
       <div class="dropdown">
	        <td class="feels dropdown-toggle" data-toggle="dropdown" align="right" style="color: #E6E600"> 
	    		<i class={{emotion}}></i>
	    	</td>

			<ul class="dropdown-menu">
			    <li align="center"><a href="#"><i class="fa fa-smile-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-meh-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-frown-o fa-5x"></i></a></li>
			</ul>
		</div>
    </tr>
</template>

<template name="sadPeople">
    <tr>
    	<td style="font-size:150%">{{userName}}</td>
        <div class="dropdown">
	        <td class="feels dropdown-toggle" data-toggle="dropdown" align="right" style="color: red"> 
	    		<i class={{emotion}}></i>
	    	</td>

			<ul class="dropdown-menu">
			    <li align="center"><a href="#"><i class="fa fa-smile-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-meh-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-frown-o fa-5x"></i></a></li>
			</ul>
		</div>
    </tr>
</template>