<template name="pulse">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading c-list">
						<span class="title"> <h4>Happy</h4></span>

					</div>

					<div class="row" style="display: none;">
						<div class="col-xs-12">
							<div class="input-group c-search">
								<input type="text" class="form-control" id="contact-list-search">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
								</span>
							</div>
						</div>
					</div>

					<ul class="list-group" id="contact-list">
						{{#each getHappy}}
						{{> happyPeople}}
						{{/each}}                   

					</ul>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading c-list">
						<span class="title"> <h4>Normal</h4></span>

					</div>

					<div class="row" style="display: none;">
						<div class="col-xs-12">
							<div class="input-group c-search">
								<input type="text" class="form-control" id="contact-list-search">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
								</span>
							</div>
						</div>
					</div>

					<ul class="list-group" id="contact-list">
						{{#each getNormal}}
						{{> normalPeople}}
						{{/each}}                   

					</ul>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading c-list">
						<span class="title"> <h4>Sad</h4></span>

					</div>

					<div class="row" style="display: none;">
						<div class="col-xs-12">
							<div class="input-group c-search">
								<input type="text" class="form-control" id="contact-list-search">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
								</span>
							</div>
						</div>
					</div>

					<ul class="list-group" id="contact-list">
						{{#each getSad}}
						{{> sadPeople}}
						{{/each}}                   

					</ul>
				</div>
			</div>
	</div>
</div>
</template>

<template name="happyPeople">
	<li class="list-group-item">

		<div class="col-xs-12 col-sm-3 feels dropdown-toggle" data-toggle="dropdown" style="color: green">
			<i class="{{emotion}}"></i>
		</div>

		<ul class="dropdown-menu">
			    <li align="center"><a href="#"><i class="fa fa-smile-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-meh-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-frown-o fa-5x"></i></a></li>
		</ul>

		<div class="col-xs-12 col-sm-9">
			<span class="name">{{userName}}</span><br/>
			
		</div>
		<div class="clearfix"></div>
	</li>

</template>

<template name="normalPeople">
	<li class="list-group-item">

		<div class="col-xs-12 col-sm-3 feels dropdown-toggle" data-toggle="dropdown" style="color: #E6E600">
			<i class="{{emotion}}"></i>
		</div>
		<ul class="dropdown-menu">
			    <li align="center"><a href="#"><i class="fa fa-smile-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-meh-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-frown-o fa-5x"></i></a></li>
		</ul>
		<div class="col-xs-12 col-sm-9">
			<span class="name">{{userName}}</span><br/>
			
		</div>
		<div class="clearfix"></div>
	</li>

</template>

<template name="sadPeople">
	<li class="list-group-item">

		<div class="col-xs-12 col-sm-3 feels dropdown-toggle" data-toggle="dropdown" style="color: red">
			<i class="{{emotion}}"></i>
		</div>
		<ul class="dropdown-menu">
			    <li align="center"><a href="#"><i class="fa fa-smile-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-meh-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-frown-o fa-5x"></i></a></li>
		</ul>
		<div class="col-xs-12 col-sm-9">
			<span class="name">{{userName}}</span><br/>
			
		</div>
		<div class="clearfix"></div>
	</li>

</template>