<template name="pulse">

<div class="col-md-9">
	<h1> Happy </h1>
   <table class="table table-list-search">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
	        {{#each getHappy}}
	        {{> happyPeople}}
	        {{/each}}
        </tbody>
    </table>   
</div>


<div class="col-md-9">
	<h1> Normal </h1>
   <table class="table table-list-search">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
	        {{#each getNormal}}
	        {{> normalPeople}}
	        {{/each}}
        </tbody>
    </table>   
</div>


<div class="col-md-9">
	<h1> Sad </h1>
       <table class="table table-list-search">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
		        {{#each getSad}}
		        {{> sadPeople}}
		        {{/each}}
            </tbody>
        </table>   
  </div>
</template>



<template name="happyPeople">
	<tr>
        <td>{{userName}}</td>
        <td class="feels dropdown-toggle" data-toggle="dropdown"><i class={{emotion}}></i><b class="caret"></b></td>
		<ul class="dropdown-menu">
		    <li><a href="#">Happy</a></li>
		    <li><a href="#">Normal</a></li>
		    <li><a href="#">Sad</a></li>
		    <li class="divider"></li>
		    <li><a href="#">Separated link</a></li>
		</ul>
    </tr>
</template>

<template name="normalPeople">
	<tr>
        <td>{{userName}}</td>
       
       <div class="dropdown">
	        <td class="feels dropdown-toggle" data-toggle="dropdown" align="right"> 
	    		<i class={{emotion}}></i>
	    	</td>

			<ul class="dropdown-menu">
			    <li align="center"><a href="#" id="happ" value="fa fa-smile-o fa-5x"><i class="fa fa-smile-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-meh-o fa-5x"></i></a></li>
			    <li align="center"><a href="#"><i class="fa fa-frown-o fa-5x"></i></a></li>
			</ul>
		</div>
    </tr>
</template>

<template name="sadPeople">
    <tr>
        <td>{{userName}}</td>
        <td class="feels"><i class={{emotion}}></i></td>
    </tr>
</template>