<template name="helloPage">
  <div class="row">
    <div class="padded col-sm-2">
      <div id="leftPanel" class="unselectable dragdropzone padded panel panel-default">
        <div id="redPanel" class="dragDropBlock red padded draggable panel block panel-default">
            red
        </div>
        <div id="greenPanel" class="dragDropBlock green padded draggable panel block panel-default">
            green
        </div>
        <div id="bluePanel" class="dragDropBlock blue padded draggable panel block panel-default">
            blue
        </div>
      </div>
    </div>
    <div class="padded col-sm-8">
      <div id="rightPanel" class="unselectable dragdropzone padded panel panel-default">
        

      </div>
    </div>

  </div>
 
</template>